doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Math quiz
    link(rel='icon' href='data:,')
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/reset.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/global.css')
    link(rel='stylesheet' type='text/css' href='/stylesheets/button.css')
    script(src='/scripts/base.js' defer type='module')
    block meta
    block styles
    block scripts
  body
    header.main-header
      #menu-bars.button.icon-button: i.fa.fa-bars
      h1: a(href='/') Math quiz
    main#main
      block content
    aside#main-menu.menu.menu-hide
      #sidebar.menu-sidebar
        header.sidebar-header
          h2 Menu
          #close-menu.button.icon-button: i.fa.fa-close
        section.menu-section
          if username !== undefined
            p= 'Hello ' + username
            include /includes/main-button.pug
            a(href='/login/change-password'): .button Change password
            form#logout-form(method='POST' action='/login/logout')
              include /includes/csrf-input
              #logout.button Logout
            a(href='/summary'): .button Summary
          else
            include /includes/main-button.pug
            include /includes/login-button.pug
    footer.main-footer &copy Mateusz Pyszczek 2020