doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Math quiz
  style: include /stylesheets/reset.css
  style: include /stylesheets/global.css
  style: include /stylesheets/button.css
  block styles
  block scripts
  body
    header
      h1 Math quiz
    main#main
      block content
    footer &copy Mateusz Pyszczek 2020