extends base.pug

block styles
  link(rel='stylesheet' type='text/css' href='/stylesheets/form.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/login.css')

block scripts
  script(src='/scripts/change-password.js' defer type='module')

block content
  form.form(action='/login/change-password' method='POST')
    p#error= error
    .form-item
      label(for='new-password') New password
      input#new-password(name='new-password' type='password' required)
    .form-item
      label(for='password-repeat') Repeat password
      input#password-repeat(name='password-repeat' type='password' required)
    input(type='hidden' name='_csrf' value=csrfToken)
    input(type='submit' hidden)
    #change-password-button.button Change password