extends base.pug

block meta
  meta(name='quiz-id' content=quizId)

block styles
  link(rel='stylesheet' type='text/css' href='/stylesheets/description-list.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/summary.css')

block scripts
  script(src='/scripts/summary.js' defer type='module')

block content
  .summary
    h2 Summary
    ul.buttons
      each quiz in quizes
        li: .button(data-id=quiz.id)= quiz.name
    #results-container.results
      div
        h3#overall
        ul#results
      table
        caption Top results
        thead
          th Username
          th Time
        tbody#top