extends base.pug

block styles
  link(rel='stylesheet' type='text/css' href='/stylesheets/description-list.css')
  link(rel='stylesheet' type='text/css' href='/stylesheets/summary.css')

block scripts
  script(src='/scripts/summary.js' defer type='module')

block content
  h2 Summary
  section
    p#overall
    p Details
    ul#results
  section.buttons
    #save-with-details.button Save result with details
    #only-result.button Save only result
    #no-save.button Finish without saving