.button {
  height: 50px;
  padding: 5px 10px;
  margin: 4px;
  display: inline-flex;
  border-radius: 5px;
  align-items: center;
  border: 1px solid;
  min-width: 100px;
  justify-content: center;
}

.button.button-disabled {
  opacity: 0.5;
}

.icon-button {
  border: none;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  min-width: 0;
}

.icon-button:hover {
  border: 1px solid;
}

.button:not(.button-disabled):hover,
.button:not(.button-disabled).active {
  cursor: pointer;
  background-color: #3B3C3C;
}

@media screen and (max-width: 760px) {
  .button {
    min-width: 80px;
  }

  .icon-button {
    min-width: 0;
  }
}