.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.results {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 10px;
}

.correct {
  background-color: #002F00;
}

.incorrect {
  background-color: #2F0000;
}

@media screen and (max-width: 760px) {
  li {
    padding: 4px;
  }

  .buttons {
    justify-content: space-between;
  }

  .buttons>.button {
    margin: 2px;
  }

  .results {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
  }
}