ul {
  list-style: none;
  padding: 0;
  border-collapse: collapse;
}

li {
  border: 1px solid #8E9093;
  padding: 8px;
}

.correct {
  background-color: #002F00;
}

.incorrect {
  background-color: #2F0000;
}

@media screen and (max-width: 760px) {
  li {
    padding: 4px;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .buttons>.button {
    margin: 2px;
  }
}